<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new User</title>
</head>

<body>
<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="firstname">Name: </label>
    <input type="text" th:field="*{firstname}" id="firstname"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Name Error</div>
    <br/>

    <label for="lastname">Lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Lastname Error</div>
    <br/>

    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>
    <br/>

    <input type="submit" value="Create!"/>
</form>
</body>
</html>